@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset / global tweaks */
html,
body,
#app {
  height: 100%;
}

body {
  font-family: theme("fontFamily.sans");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar visually but keep scrolling (mobile sidebars) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
